header {
  text-align: center;
  font-size: 20px;
  background-color: teal;
  color: #fff;
  padding: 10px;
}
header div div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

aside {
  position: absolute;
  height: 600px;
  background-color: teal;
  top: 50px;
  padding: 40px 20px 20px 20px;
}
aside p {
  color: #fff;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 10px;
}

aside p a {
  color: white;
}
